<div>
  <title>Fire Portfolio | Movie</title>

  <app-landing></app-landing>
  <div id="movie">
    <section id="Trailer" class="contentContainer darker">
      <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInRight">
        <div style="height: 100%; width: 50%; position: absolute;">
          <div style="position: absolute; top: 0%;">
            <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/movie.png" alt="movie">
          </div>

          <div style="margin-left: 8vw;">       
            <div style="margin-top: 8vh; margin-left: 2vw;">
              <iframe style="border-color: none;" width="420" height="315"src="https://www.youtube.com/embed/iYDachJiS1o"></iframe>
            </div>
          </div>
        </div>

        <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
          <div style="margin-right: 8vw;">
            <div>
              <h3 class="text-center" style="margin-top: 5vh;">
                <b>Synopsis</b> 
              </h3>
            </div>
            
            <div style="margin-top: 4vh; margin-left: 2vw;">
              <p>
                The story follows a group of young students, Jared, Kate and
                Jess, who have volunteered to cleanup a local theater and it
                all begins on one fateful afternoon. One of the students
                discovers a little puppet on strings while
                cleaning up. and come back the following day, only notice
                that the puppet's strings have been cut off. It's shrugged
                off.
                During their lunch break, the students hear some commotion
                coming from backstage. They walk in to investigate.
                A ball bounces onto the stage from nowhere and the team is
                on edge. They finish packing and grab their
                bags to leave but not before they notice a stranger standing
                with their back towards them. The man's head turns 180
                degrees, exposing a face resembling a puppet. Trying to
                escape the find doors locked and the man snatches away one
                of their peers, Jared. She girls escape and meet up with Mr
                de Villiers, their lecturer. They drag him away and
                explain.Mr de Villiers settles their fears and they go in
                for Jared; meeting closed stage curtains, they slowly open
                them up, and in front of their eyes sits Jared, dead, with a
                rope around his neck and the puppet doll on his thighs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="cast" class="contentContainer darker">
      <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInLeft">
        <div style="height: 100%; width: 50%; position: absolute;">
          <div style="position: absolute; top: 0%;">
            <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/user-group-man-man.png" alt="user-group-man-man">
          </div>

          <div style="margin-left: 8vw;">
            <div>
              <h3 class="text-center" style="margin-top: 10vh;">
                <b>Ratings</b> 
              </h3>
            </div>
              
            <div style="margin-top: 10vh; margin-left: 2vw;">
              <p>
                <b>Runtime</b> – 8m34s <br>
                <b>Rating</b> – <!--&#11088 &#11088 &#11088 &#11088 &#11088--> <br>
                <b>Release Date</b> – 23 October 2019 <br>
                <b>Genre</b> – Horror/Suspense <br>
                <b>Studio</b> – Fire Breathing Rubber Duckies Productions <br>
              </p>
            </div>
          </div>
          
        </div>
        <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
          <div style="margin-right: 8vw;">
            <div>
              <h3 class="text-center" style="margin-top: 10vh;">
                <b>Cast</b> 
              </h3>
            </div>
            
            <div style="margin-top: 10vh; margin-left: 2vw;">
              <p>
                <b>Stephen Palmer</b> – The Puppet <br>
                <b>Marcus Kane</b> – Jared <br>
                <b>Clarke Griffin</b> – Jess <br>
                <b>Madi Murphy</b> – Kate <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="Justin" class="contentContainer darker">
        <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInRight">
          <div style="height: 100%; width: 50%; position: absolute;">
            <div style="position: absolute; top: 0%;">
              <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/user.png" alt="user">
            </div>
  
            <div style="margin-left: 8vw;">
              <div>
                <h3 class="text-center" style="margin-top: 10vh;">
                  <b>Justin Grenfell</b> 
                </h3>
              </div>
              
              <div style="margin-top: 10vh; margin-left: 2vw;">
                <p>
                  I am a final year Computer Science student at the University of Pretoria. 
                  I enjoy learning new and more efficient ways to solve problems. My main 
                  interests lie in the fields of Artificial Intelligence and Software Engineering.
                </p>
              </div>
              
              <div style="margin-left: 10vw; width: 20vw; margin-top: 10vh;">
                <div style="float: left;">
                  <a target="_blank" href="https://github.com/JustinG123">
                    <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/github.png" alt="" class="linkImg">
                  </a>
                </div>
                <div style="float: right;">
                  <a target="_blank" href="https://www.linkedin.com/in/justin-grenfell-7b6b6915b/">
                    <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/linkedIn.png" alt="" class="linkImg">
                  </a>
                </div>
                
              </div>
  
            </div>
          </div>
          <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
            <div style="margin-top: 10vh; margin-left: 15vw;">
              <img src="../../../../assets/images/team/justin.jpg" alt="Justin Grenfell" style="height: auto; width: 55%;">
            </div>
          </div>
        </div>
      </section>
    
      <section id="Charles" class="contentContainer lighter">
        <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInLeft">
          <div style="height: 100%; width: 50%; position: absolute;">
            <div style="position: absolute; top: 0%;">
              <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/user.png" alt="user">
            </div>
  
            <div style="margin-top: 10vh; margin-left: 15vw;">
              <img src="../../../../assets/images/team/charles.jpg" alt="Justin Grenfell" style="height: auto; width: 55%;">
            </div>
  
          </div>
          <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
            <div style="margin-right: 8vw;">
              <div>
                <h3 class="text-center" style="margin-top: 10vh;">
                  <b>Charles de Villiers</b> 
                </h3>
              </div>
              
              <div style="margin-top: 10vh; margin-left: 2vw;">
                <p>
                  I am a final year BSc Computer Science student at the University of Pretoria. 
                  I am hard working and dedicated to any project that I am assigned to, I’m always 
                  looking to learn from those around me and always try to keep an open mind in all 
                  situations.
                </p>
              </div>
              
              <div style="margin-left: 10vw; width: 20vw; margin-top: 10vh;">
                <div style="float: left;">
                  <a target="_blank" href="https://github.com/PetrusCharles">
                    <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/github.png" alt="" class="linkImg">
                  </a>
                </div>
                <div style="float: right;">
                  <a target="_blank" href="https://www.linkedin.com/in/petrus-de-villiers-8a7977129/">
                    <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/linkedIn.png" alt="" class="linkImg">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section id="Brett" class="contentContainer darker">
        <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInRight">
          <div style="height: 100%; width: 50%; position: absolute;">
            <div style="position: absolute; top: 0%;">
              <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/user.png" alt="user">
            </div>
  
            <div style="margin-left: 8vw;">
              <div>
                <h3 class="text-center" style="margin-top: 10vh;">
                  <b>Brett Fourie</b> 
                </h3>
              </div>
              
              <div style="margin-top: 10vh; margin-left: 2vw;">
                <p>
                  I am a second year Computer Science student at the University of Pretoria. 
                  My interests include web development, data sciences, gaming and sports. I 
                  enjoy programming as the ability to create something out of nothing that 
                  can benefit other people is satisfying.
                </p>
              </div>
              
              <div style="margin-left: 10vw; width: 20vw; margin-top: 10vh;">
                <div style="float: left;">
                  <a target="_blank" href="https://github.com/BrettFourie">
                    <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/github.png" alt="" class="linkImg">
                  </a>
                </div>
                <div style="float: right;">
                  <a target="_blank" href="https://www.linkedin.com/in/brett-fourie-949021192/">
                    <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/linkedIn.png" alt="" class="linkImg">
                  </a>
                </div>
              </div>
  
            </div>
          </div>
          <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
            <div style="margin-top: 10vh; margin-left: 15vw;">
              <img src="../../../../assets/images/team/brett.jpg" alt="Brett Fourie" style="height: auto; width: 55%;">
            </div>
          </div>
        </div>
      </section>
  
      <section id="Lesego" class="contentContainer lighter">
        <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInLeft">
          <div style="height: 100%; width: 50%; position: absolute;">
            <div style="position: absolute; top: 0%;">
              <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/user.png" alt="user">
            </div>
  
            <div style="margin-top: 10vh; margin-left: 15vw;">
              <img src="../../../../assets/images/team/lesego.jpg" alt="Justin Grenfell" style="height: auto; width: 55%;">
            </div>
  
          </div>
          <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
            <div style="margin-right: 8vw;">
              <div>
                <h3 class="text-center" style="margin-top: 10vh;">
                  <b>Lesego Mabe</b> 
                </h3>
              </div>
              
              <div style="margin-top: 10vh; margin-left: 2vw;">
                <p>
                  I am a final year Computer Science student at the University of Pretoria. 
                  I have a keen interest in Software Engineering, Computer Security and Networking, 
                  but above all, Software Architecture. I enjoy the freedom for creativity that 
                  software provides and am always willing to learn.
                </p>
              </div>
              
              <div style="margin-left: 10vw; width: 20vw; margin-top: 10vh;">
                <div style="float: left;">
                  <a target="_blank" href="https://github.com/LesegoGomolemo">
                    <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/github.png" alt="" class="linkImg">
                  </a>
                </div>
                <div style="float: right;">
                  <a target="_blank" href="https://www.linkedin.com/in/lesegogomolemo/">
                    <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/linkedIn.png" alt="" class="linkImg">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  <app-footer></app-footer>
</div>
