<div>
  <title>Fire Portfolio | About</title>

  <app-landing></app-landing>
  <div id="team">
    <section id="Justin" class="contentContainer darker">
      <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInRight">
        <div style="height: 100%; width: 50%; position: absolute;">
          <div style="position: absolute; top: 0%;">
            <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/user.png" alt="user">
          </div>

          <div style="margin-left: 8vw;">
            <div>
              <h3 class="text-center" style="margin-top: 10vh;">
                <b>Justin Grenfell</b> 
              </h3>
            </div>
            
            <div style="margin-top: 10vh; margin-left: 2vw;">
              <p>
                I am a final year Computer Science student at the University of Pretoria. 
                I enjoy learning new and more efficient ways to solve problems. My main 
                interests lie in the fields of Artificial Intelligence and Software Engineering.
              </p>
            </div>
            
            <div style="margin-left: 10vw; width: 20vw; margin-top: 10vh;">
              <div style="float: left;">
                <a target="_blank" href="https://github.com/JustinG123">
                  <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/github.png" alt="" class="linkImg">
                </a>
              </div>
              <div style="float: right;">
                <a target="_blank" href="https://www.linkedin.com/in/justin-grenfell-7b6b6915b/">
                  <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/linkedIn.png" alt="" class="linkImg">
                </a>
              </div>
              
            </div>

          </div>
        </div>
        <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
          <div style="margin-top: 10vh; margin-left: 15vw;">
            <img src="../../../../assets/images/team/justin.jpg" alt="Justin Grenfell" style="height: auto; width: 55%;">
          </div>
        </div>
      </div>
    </section>
  
    <section id="Charles" class="contentContainer lighter">
      <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInRight">
        <div style="height: 100%; width: 50%; position: absolute;">
          <div style="position: absolute; top: 0%;">
            <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/user.png" alt="user">
          </div>

          <div style="margin-top: 10vh; margin-left: 15vw;">
            <img src="../../../../assets/images/team/charles.jpg" alt="Justin Grenfell" style="height: auto; width: 55%;">
          </div>

        </div>
        <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
          <div style="margin-right: 8vw;">
            <div>
              <h3 class="text-center" style="margin-top: 10vh;">
                <b>Charles de Villiers</b> 
              </h3>
            </div>
            
            <div style="margin-top: 10vh; margin-left: 2vw;">
              <p>
                I am a final year BSc Computer Science student at the University of Pretoria. 
                I am hard working and dedicated to any project that I am assigned to, I’m always 
                looking to learn from those around me and always try to keep an open mind in all 
                situations.
              </p>
            </div>
            
            <div style="margin-left: 10vw; width: 20vw; margin-top: 10vh;">
              <div style="float: left;">
                <a target="_blank" href="https://github.com/JustinG123">
                  <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/github.png" alt="" class="linkImg">
                </a>
              </div>
              <div style="float: right;">
                <a target="_blank" href="https://www.linkedin.com/in/justin-grenfell-7b6b6915b/">
                  <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/linkedIn.png" alt="" class="linkImg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="Brett" class="contentContainer darker">
      <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInRight">
        <div style="height: 100%; width: 50%; position: absolute;">
          <div style="position: absolute; top: 0%;">
            <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/user.png" alt="user">
          </div>

          <div style="margin-left: 8vw;">
            <div>
              <h3 class="text-center" style="margin-top: 10vh;">
                <b>Brett Fourie</b> 
              </h3>
            </div>
            
            <div style="margin-top: 10vh; margin-left: 2vw;">
              <p>
                I am a second year Computer Science student at the University of Pretoria. 
                My interests include web development, data sciences, gaming and sports. I 
                enjoy programming as the ability to create something out of nothing that 
                can benefit other people is satisfying.
              </p>
            </div>
            
            <div style="margin-left: 10vw; width: 20vw; margin-top: 10vh;">
              <div style="float: left;">
                <a target="_blank" href="https://github.com/BrettFourie">
                  <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/github.png" alt="" class="linkImg">
                </a>
              </div>
              <div style="float: right;">
                <a target="_blank" href="https://www.linkedin.com/in/brett-fourie-949021192/">
                  <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/linkedIn.png" alt="" class="linkImg">
                </a>
              </div>
            </div>

          </div>
        </div>
        <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
          <div style="margin-top: 10vh; margin-left: 15vw;">
            <img src="../../../../assets/images/team/brett.jpg" alt="Brett Fourie" style="height: auto; width: 55%;">
          </div>
        </div>
      </div>
    </section>

    <section id="Lesego" class="contentContainer lighter">
      <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInRight">
        <div style="height: 100%; width: 50%; position: absolute;">
          <div style="position: absolute; top: 0%;">
            <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/user.png" alt="user">
          </div>

          <div style="margin-top: 10vh; margin-left: 15vw;">
            <img src="../../../../assets/images/team/lesego.jpg" alt="Justin Grenfell" style="height: auto; width: 55%;">
          </div>

        </div>
        <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
          <div style="margin-right: 8vw;">
            <div>
              <h3 class="text-center" style="margin-top: 10vh;">
                <b>Lesego Mabe</b> 
              </h3>
            </div>
            
            <div style="margin-top: 10vh; margin-left: 2vw;">
              <p>
                I am a final year Computer Science student at the University of Pretoria. 
                I have a keen interest in Software Engineering, Computer Security and Networking, 
                but above all, Software Architecture. I enjoy the freedom for creativity that 
                software provides and am always willing to learn.
              </p>
            </div>
            
            <div style="margin-left: 10vw; width: 20vw; margin-top: 10vh;">
              <div style="float: left;">
                <a target="_blank" href="https://github.com/LesegoGomolemo">
                  <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/github.png" alt="" class="linkImg">
                </a>
              </div>
              <div style="float: right;">
                <a target="_blank" href="https://www.linkedin.com/in/lesegogomolemo/">
                  <img style="width: 10vw; height: 6vh;" src="../../../../assets/images/links/linkedIn.png" alt="" class="linkImg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
