<div>
  <title>Fire Portfolio | Game</title>
  <app-landing></app-landing>

  <main id="theGame" class="container">
    <section class="oneColCard" >
      <div class="game">
        <script src="https://cdn.htmlgames.com/embed.js?game=NeonBubble&amp;&amp;bgcolor=white"></script>
        <br>
        <p>This is a game that was found on HTML Games</p>
        <a target="_blank" href="https://www.htmlgames.com/game/Neon+Bubble" class="btn">More Info</a>
      </div>
    </section>
  </main>
</div>