<div>
  <main id="scroll-to" class="container">
      <section class="card" data-aos="fade-right">
          <img  class = "projectPic" src="images/botic/botic_2.png" alt="">
          <div>
              <h3>
                  <b>Botic: Privacy aware support chat bot</b> 
              </h3>
              <p> Botic is a customer service communication chat service that uses artificial
      intelligence to handle user requests regarding account information or
      company protocols, without compromising the user’s privacy or personal
      information. </p>
    <a target="_blank" href="https://botic-frontend.herokuapp.com/" class="btn">Botic Website</a>
    <a target="_blank" href="https://github.com/cos301-2019-se/Botic" class="btn">Botic Github</a>
          </div>
      </section>

      <section class="card" data-aos="fade-left">
          <img target="_blank" src="https://github.com/cos301-2019-se/ERP-Ranger-Mobile-Application" alt="">
          <img class = "projectPic" src="images/botic/botic_2.png" alt="">
          <div>
              <h3>
                  <b>ERP Ranger</b>
              </h3>
              <p>Our project is to create a mobile application to assist ERP rangers with various daily tasks. These include, managing a ranger's patrol shifts, tracking a ranger's position whilst out on patrol and allowing rangers to write reports after a shift has ended.</p>
              <a target="_blank" href="https://github.com/cos301-2019-se/ERP-Ranger-Mobile-Application" class="btn">ERP Ranger Github</a>
          </div>
      </section>

  </main>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
      AOS.init({
          offset: 400,
          duration: 1000
      });
  </script>
</div>