<div style="width: 95vw; height: 100vh;">

  <div class="page_title">
    <div class="center-arrow">
      <header class="main-header">
        <h1><span>{{pagePrefix}}</span>{{pageTitle}}</h1>
        <p>"{{pageDescription}}"</p>
        
        <!--Icons-->
        <div class="text-center">
          <img src="https://img.icons8.com/pastel-glyph/64/000000/old-time-camera--v2.png" alt="films">
          <img src="https://img.icons8.com/wired/64/000000/controller.png" alt="games">
          <img style="margin-top: 12px;" src="https://img.icons8.com/wired/64/000000/web.png" alt="desktop">
        </div>

        <!--
        <p>
          <small style="font-size: 14px;">
            We are a small talented group of software engineers specializing in games, custom software, and multimedia.
          </small>
        </p>
        -->

      </header>
    </div>
  </div>
  
  <div class="scroll">
    <a routerLink="{{leftLink}}">
      <div class="left-arrow color-fade" style="display: inline-block; width: 9vw">
          <p class="next-page" style="font-size:2vh; color: #ffffff;">{{leftPage}}</p>
          <i class="fa fa-angle-double-left color-fade-icon" style="font-size:6vh;"></i>
      </div>
    </a>

    <a href="{{ downLink }}">
        <div class="color-fade" style="display: inline-block">
            <p class="meet-team" style="font-size:2vh; color: #ffffff;">{{thisHeading}}</p>
            <br>
            <i class="fa fa-angle-double-down color-fade-icon" style="font-size:6vh; padding-top: 2vh;"></i>
        </div>
    </a>

    <a routerLink="{{ rightAddress}}">
        <div class="right-arrow color-fade" style="display: inline-block; width: 9vw">
            <p class="next-page" style="font-size:2vh; color: #ffffff;">{{rightPage}}</p>
            <i class="fa fa-angle-double-right color-fade-icon" style="font-size:6vh;"></i>
        </div>
    </a>
  </div>
</div>
