<!--This is a page for ERP Ranger Mobile Application-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">  
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <title><%= title %></title>
    </head>

    <body>
        <header class="main-header">
            <h1><%= title %></h1>
            <p>"ERP Mobile Application project by Tenacious Technicians for EPI Use."</p>
        </header>

        <main class="container">
            <section class="card">
                <img src="images/botic/botic_1.png" alt="">
                <div>
                    <h3>
                        Project Image One
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quia eveniet veritatis perferendis dolor doloribus possimus ratione quam ipsa ut non laudantium in, unde earum id fugiat nihil vel delectus!</p>
                    <a href="#" class="btn">More Info</a>
                </div>
            </section>

            <section class="card" data-aos="fade-left">
                <img src="images/botic/botic_2.png" alt="">
                <div>
                    <h3>
                        Project Image Two
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quia eveniet veritatis perferendis dolor doloribus possimus ratione quam ipsa ut non laudantium in, unde earum id fugiat nihil vel delectus!</p>
                    <a href="#" class="btn">More Info</a>
                </div>
            </section>
            
            <section class="card" data-aos="fade-right">
                <img src="images/botic/botic_3.png" alt="">
                <div>
                    <h3>
                        Project Image Three
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quia eveniet veritatis perferendis dolor doloribus possimus ratione quam ipsa ut non laudantium in, unde earum id fugiat nihil vel delectus!</p>
                    <a href="#" class="btn">More Info</a>
                </div>
            </section>
                    
            <section class="card" data-aos="fade-left">
                <img src="images/botic/botic_4.png" alt="">
                <div>
                    <h3>
                        Project Image Four
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quia eveniet veritatis perferendis dolor doloribus possimus ratione quam ipsa ut non laudantium in, unde earum id fugiat nihil vel delectus!</p>
                    <a href="#" class="btn">More Info</a>
                </div>
            </section>

            <section class="card" data-aos="fade-right">
                <img src="images/botic/botic_5.png" alt="">
                <div>
                    <h3>
                        Project Image Five
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quia eveniet veritatis perferendis dolor doloribus possimus ratione quam ipsa ut non laudantium in, unde earum id fugiat nihil vel delectus!</p>
                    <a href="#" class="btn">More Info</a>
                </div>
            </section>

        </main>

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                offset: 400,
                duration: 1000
            });
        </script>       
    </body>
</html>