<!--This is the page containing the game-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ./layout/headerimports.ejs %>
    </head>

    <body>
        <%- include ./layout/header.ejs %>

        <main id="theGame" class="container">
            <section class="oneColCard">
                <div>
                    <div>
                        <script src="https://cdn.htmlgames.com/embed.js?game=NeonBubble&amp;&amp;bgcolor=white"></script>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quia eveniet veritatis perferendis dolor doloribus possimus ratione quam ipsa ut non laudantium in, unde earum id fugiat nihil vel delectus!</p>
                    <a href="#" class="btn">More Info</a>
                </div>
            </section>


        </main>

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                offset: 400,
                duration: 1000
            });
        </script> 
        
        <%- include ./layout/footer.ejs %>
    </body>
</html>