<!--This page is for the horror short story-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ./layout/headerimports.ejs %>
    </head>

    <body>
        <%- include ./layout/header.ejs %>
		
		<main id="theGame" class="container">
            <section class="oneColCard"  data-aos="fade-down">
                <div class = "game">
                    <iframe width="970" height="500" src="https://www.youtube.com/embed/wF-6r27bekE"> </iframe>
                    <br>
                    <p>Three friends find an old puppet while cleaning up the local theater and soon find out that the puppet has more to it than just a few strings</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=wF-6r27bekE" class="btn">More Info</a>
                </div>
            </section>
        </main>

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                offset: 500,
                duration: 1000
            });
        </script>  
        
        <%- include ./layout/footer.ejs %>
    </body>
</html>