* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat';
  font-size: 1.3rem; /*1 rem is 16 pixels or the size of 'html'*/
  background: rgb(2,0,36);
  background: linear-gradient(143deg, rgba(2,0,36,1) 0%, rgba(1,22,39,1) 13%, rgba(1,88,115,1) 49%, rgba(0,212,255,1) 100%);
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  max-width: 1100px; /*we want this to shrink depending on the width*/
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
  padding-top: 5vh;
}

.main-header {
  height: 55hv; /*viewport height -- 55 of them*/
  /*we want to center everything vertically and horizantally*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.main-header h1 {
  font-size: 4vw;
  margin-bottom: 2rem;
  line-height: 1.2;
  color: #fff;
  opacity: 0.8;
}

.main-header h1 span {
  color: #b50d10;
}

.main-header p {
  font-size: 2vw;
  color: #fff;
  opacity: 0.8;
}

img {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr; /*two even columns; alt: repeat(2, 1fr)*/
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}

.card h3 {
  margin-bottom: 2rem;
}

.card img {
  height: 400px;
}

.card > div { /*adding style to the direct div and not the other ones inside*/
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

@media (max-width: 700px) {
  .card {
      display: block; /*so that the images stack on top of each other as soon as we reach 700px*/
  }
}

.card {
  border-radius: 10px;
}

.fullscreen {
  position: relative;
  height: 100vh;
  width: 100%;
}

.center {
  position: absolute; /* I know terrible way of doing it*/
  top: 25vh;
  bottom: 50vh;
  left: 0;
  right: 0;
  margin: auto;
}

.scroll {
  color: #000;
  position: absolute; /* I know terrible way of doing it*/
  text-align: center;
  width: 100%;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: auto;
}

.meet-team {
  text-align: center;
  display: contents;
  opacity: 0.8;
}

.next-page {
  opacity: 0.8;
}

.black {
  color: #000
}

.right-arrow {
  position: absolute; /*I know terrible way of doing it*/
  /* text-align: right; */
  display: contents;
  right: 5vw;
}

.left-arrow {
  position: absolute; /*I know terrible way of doing it*/
  /* text-align: right; */
  display: contents;
  left: 5vw;
}

.color-fade .color-fade-icon {
  color: #000000;
  transition: 0.3s;
}

.color-fade:hover .color-fade-icon {
  color: #40E0D0;
}