.oneColCard > div { /*adding style to the direct div and not the other ones inside*/
    padding: 2rem;
}
.card {
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%; /*two even columns; alt: repeat(2, 1fr)*/
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 10px;
    height: 50vh;
}

.cardOdd
{
display: grid;
grid-template-columns: 60% 40%; /*two even columns; alt: repeat(2, 1fr)*/
grid-gap: 2rem;
background: #f1f1f1;
margin-bottom: 2rem;
}

.card h3 {
margin-bottom: 2rem;
}

.card .profilePic {
height: auto;
}

.card > div { /*adding style to the direct div and not the other ones inside*/
padding: 2rem;
}

.card:nth-child(odd) .profilePic {
order: 2;
}

@media (max-width: 700px) {
.card {
    display: block; /*so that the images stack on top of each other as soon as we reach 700px*/
    }
}