<div>
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@next/dist/aos.css" />
  
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">-->
  <title>Fire Portfolio | Home</title>

  <main id="team" class="container">
    <section class="card" data-aos="fade-right">
      <img class = "profilePic" src="../../../../assets/images/team/justin.jpg" alt="">
      <div>
        <h3>
          <b>About Us</b>
        </h3>
        <p>I am a final year Computer Science student at the University of Pretoria. I enjoy learning new and more efficient ways to solve problems. My main interests lie in the fields of Artificial Intelligence and Software Engineering.</p>
        <div class="links">
          <a target="_blank" href="https://github.com/JustinG123"><img src="../../../../assets/images/links/github.png" alt="" class="linkImg"></a>
          <a target="_blank" href="https://www.linkedin.com/in/justin-grenfell-7b6b6915b/"> <img src="../../../../assets/images/links/linkedIn.png" alt="" class="linkImg linkedIn"></a>
        </div>
      </div>
    </section>

    <section class="card" data-aos="fade-right">
        <img class = "profilePic" src="../../../../assets/images/team/justin.jpg" alt="">
        <div>
            <h3>
    <b>Justin Grenfell</b>
            </h3>
            <p>I am a final year Computer Science student at the University of Pretoria. I enjoy learning new and more efficient ways to solve problems. My main interests lie in the fields of Artificial Intelligence and Software Engineering.</p>
  <div class="links">
    <a target="_blank" href="https://github.com/JustinG123"><img src="../../../../assets/images/links/github.png" alt="" class="linkImg"></a>
    <a target="_blank" href="https://www.linkedin.com/in/justin-grenfell-7b6b6915b/"> <img src="../../../../assets/images/links/linkedIn.png" alt="" class="linkImg linkedIn"></a>
  </div>
</div>
    </section>

    <section class="card cardOdd"  data-aos="fade-left">
        <img class = "profilePic" src="../../../../assets/images/team/charles.jpg" alt="">
        <div>
            <h3>
                <b>Charles de Villiers</b>
            </h3>
            <p>I am a final year BSc Computer Science student at the University of Pretoria. I am hard working and dedicated to any project that I am assigned to, I’m always looking to learn from those around me and always try to keep an open mind in all situations.</p>
  <div class="links">
    <a target="_blank" href="https://github.com/JustinG123"><img src="../../../../assets/images/links/github.png" alt="" class="linkImg"></a>
    <a target="_blank" href="https://www.linkedin.com/in/justin-grenfell-7b6b6915b/"> <img src="../../../../assets/images/links/linkedIn.png" alt="" class="linkImg linkedIn"></a>
  </div>
        </div>
    </section>
    
    <section class="card" data-aos="fade-right">
        <img class = "profilePic" src="../../../../assets/images/team/lesego.jpg" alt="">
        <div>
            <h3>
                <b>Lesego Mabe</b>
            </h3>
            <p>I am a final year Computer Science student at the University of Pretoria. I have a keen interest in Software Engineering, Computer Security and Networking, but above all, Software Architecture. I enjoy the freedom for creativity that software provides and am always willing to learn.</p>
  <div class="links">
    <a target="_blank" href="https://github.com/LesegoGomolemo"><img src="../../../../assets/images/links/github.png" alt="" class="linkImg"></a>
    <a target="_blank" href="https://www.linkedin.com/in/lesegogomolemo/"> <img src="../../../../assets/images/links/linkedIn.png" alt="" class="linkImg linkedIn"></a>
  </div>
        </div>
    </section>
            
    <section class="card card cardOdd" data-aos="fade-left">
        <img class = "profilePic" src="../../../../assets/images/team/brett.jpg" alt="">
        <div>
            <h3>
                <b>Brett Fourie</b>
            </h3>
            <p>I am a second year Computer Science student at the University of Pretoria. My interests include web development, data sciences, gaming and sports. I enjoy programming as the ability to create something out of nothing that can benefit other people is satisfying.</p>
  <div class="links">
    <a target="_blank" href="https://github.com/BrettFourie"><img src="../../../../assets/images/links/github.png" alt="" class="linkImg"></a>
    <a target="_blank" href="https://www.linkedin.com/in/brett-fourie-949021192/"> <img src="../../../../assets/images/links/linkedIn.png" alt="" class="linkImg linkedIn"></a>
  </div>					
        </div>
    </section>
  </main>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
      AOS.init({
          offset: 400,
          duration: 1000
      });
  </script> 
</div>
