<div>
  <title>Fire Portfolio | Home</title>

  <app-landing></app-landing>

  <div id="software">
    <section class="contentContainer darker">
      <div class="content hide-on-init" animateOnScroll animationName="animated slideInRight">
        <div style="height: 100%; width: 50%; background: magenta; position: absolute;">
          <img style="margin-top: -3px;" src="https://img.icons8.com/wired/64/000000/web.png" alt="desktop">
        </div>
        <div style="height: 100%; width: 50%; background: orangered; left: 50%; position: absolute;">
          
        </div>
      </div>
    </section>

    <section class="contentContainer lighter">
      <div class="content hide-on-init" animateOnScroll animationName="animated slideInLeft">
        <img src="https://img.icons8.com/pastel-glyph/64/000000/old-time-camera--v2.png" alt="films">
      </div>
    </section>

    <section class="contentContainer darker">
      <div class="content hide-on-init" animateOnScroll animationName="animated slideInRight">
        <img src="https://img.icons8.com/wired/64/000000/controller.png" alt="games">
      </div>
    </section>
  </div>
  <!--<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
      AOS.init({
          offset: 400,
          duration: 1000
      });
  </script> -->
  <app-footer></app-footer>
</div>
