<div>
  <title>Fire Portfolio | Home</title>

  <app-landing></app-landing>

  <div id="software">
    <section class="contentContainer darker">
      <div class="content hide-on-init" animateOnScroll animationName="animated slideInRight">
        <div style="height: 100%; width: 50%; background: magenta; position: absolute;">
          <div style="position: absolute; top: 0%;">
            <img style="margin-top: -3px;" src="https://img.icons8.com/wired/64/000000/web.png" alt="desktop">
          </div>

          <div>
            <div style="margin-left: 37%; margin-right: 2vw; margin-top: 2vh;">
              <img src="../../../../assets/images/botic/logo.png" alt="Botic" style="height: auto; width: 140px;">
            </div>
            
            <div>
              <h3 style="position: absolute; margin-left: 10vw;">
                <b>Botic: Privacy Aware Chatbot</b> 
              </h3>
            </div>
            
            <div style="margin-top: 10vh; margin-left: 2vw;">
              <p>
                Botic is a customer service communication chat service that uses artificial
                intelligence to handle user requests regarding account information or
                company protocols, without compromising the user’s privacy or personal
                information.
              </p>
            </div>
            
            <div style="margin-left: 18vw; display: inline-block; width: 9vw;">
                <a class="btn" routerLink="/botic">Read More</a>
            </div>

          </div>
        </div>
        <div style="height: 100%; width: 50%; background: orangered; left: 50%; position: absolute;">
          <div style="margin-left: 39%; margin-top: 5vh;">
            <img src="../../../../assets/images/erp/logo.jpeg" alt="ERP Logo" style="height: auto; width: 78px;">
          </div>
          
          <div>
            <h3 style="position: absolute; margin-left: 18vw;">
              <b>ERP Ranger</b>
            </h3>
          </div>
          
          <div style="margin-top: 10vh; margin-right: 2vw; margin-left: 2vw;">
            <p>
              Our project is to create a mobile application to assist ERP rangers with various
              daily tasks. These include, managing a ranger's patrol shifts, tracking a ranger's 
              position whilst out on patrol and allowing rangers to write reports after a shift 
              has ended.
            </p>
          </div>

          <div style="margin-left: 18vw; display: inline-block; width: 9vw;">
              <a class="btn" routerLink="/erp">Read More</a>
          </div>
        </div>
      </div>
    </section>

    <section class="contentContainer lighter">
      <div class="content hide-on-init" animateOnScroll animationName="animated slideInLeft">
        <img src="https://img.icons8.com/pastel-glyph/64/000000/old-time-camera--v2.png" alt="films">
      </div>
    </section>

    <section class="contentContainer darker">
      <div class="content hide-on-init" animateOnScroll animationName="animated slideInRight">
        <img style="margin: 3px;" src="https://img.icons8.com/wired/64/000000/controller.png" alt="games">
      </div>
    </section>
  </div>
  
  <app-footer></app-footer>
</div>
