<div>
  <title>Fire Portfolio | Movie</title>

  <app-landing></app-landing>
  <div id="movie">
    <section id="Trailer" class="contentContainer darker">
      <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInRight">
        <div style="height: 100%; width: 50%; position: absolute;">
          <div style="position: absolute; top: 0%;">
            <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/movie.png" alt="movie">
          </div>

          <div style="margin-left: 8vw;">       
            <div style="margin-top: 10vh; margin-left: 2vw;">
              <iframe width="420" height="315"src="https://www.youtube.com/embed/iYDachJiS1o"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section id="synopsis" class="contentContainer lighter">
      <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInRight">
        <div style="height: 100%; width: 50%; position: absolute;">
          <div style="position: absolute; top: 0%;">
            <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/info.png" alt="info">
          </div>

        </div>
        <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
          <div style="margin-right: 8vw;">
            <div>
              <h3 class="text-center" style="margin-top: 10vh;">
                <b>Synopsis</b> 
              </h3>
            </div>
            
            <div style="margin-top: 10vh; margin-left: 2vw;">
              <p>
                Volunteer work can be long and boring for young university students. This is the predicament 3 friends find themselves in while cleaning up the local theater’s backstage, that is until they find a small, old, creepy puppet. The students soon find out that the puppet it much more than just a drama prop and must try to survive.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="cast" class="contentContainer darker">
      <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInRight">
        <div style="height: 100%; width: 50%; position: absolute;">
          <div style="position: absolute; top: 0%;">
            <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/user-group-man-man.png" alt="user-group-man-man">
          </div>

        </div>
        <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
          <div style="margin-right: 8vw;">
            <div>
              <h3 class="text-center" style="margin-top: 10vh;">
                <b>Cast</b> 
              </h3>
            </div>
            
            <div style="margin-top: 10vh; margin-left: 2vw;">
              <p>
                <b>Stephen Palmer</b> – The Puppet <br>
                <b>Marcus Kane</b> – Jared <br>
                <b>Clarke Griffin</b> – Jess <br>
                <b>Madi Murphy</b> – Kate <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="movieInfo" class="contentContainer lighter">
      <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInRight">
        <div style="height: 100%; width: 50%; position: absolute;">
          <div style="position: absolute; top: 0%;">
            <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/info.png" alt="info">
          </div>

        </div>
        <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
          <div style="margin-right: 8vw;">
            <div>
              <h3 class="text-center" style="margin-top: 10vh;">
                <b>Cast</b> 
              </h3>
            </div>
            
            <div style="margin-top: 10vh; margin-left: 2vw;">
              <p>
                <b>Runtime</b> – 8m34s <br>
                <b>Rating</b> – &#11088 &#11088 &#11088 &#11088 &#11088 <br>
                <b>Release Date</b> – 23 October 2019 <br>
                <b>Genre</b> – Horror/Suspense <br>
                <b>Studio</b> – Fire Breathing Rubber Duckies Producitons <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <app-footer></app-footer>
</div>
