<div>
  <title>Fire Portfolio | Movie</title>

  <app-landing></app-landing>
  <div id="movie">
    <section id="Trailer" class="contentContainer darker">
      <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInRight">
        <div style="height: 100%; width: 50%; position: absolute;">
          <div style="position: absolute; top: 0%;">
            <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/movie.png" alt="movie">
          </div>

          <div style="margin-left: 8vw;">       
            <div style="margin-top: 8vh; margin-left: 2vw;">
              <iframe style="border-color: none;" width="420" height="315"src="https://www.youtube.com/embed/iYDachJiS1o"></iframe>
            </div>
          </div>
        </div>

        <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
          <div style="margin-right: 8vw;">
            <div>
              <h3 class="text-center" style="margin-top: 5vh;">
                <b>Synopsis</b> 
              </h3>
            </div>
            
            <div style="margin-top: 4vh; margin-left: 2vw;">
              <p>
                The story follows a group of young students, Jared, Kate and
                Jess, who have volunteered to cleanup a local theater and it
                all begins on one fateful afternoon. One of the students
                discovers a little puppet on strings while
                cleaning up. and come back the following day, only notice
                that the puppet's strings have been cut off. It's shrugged
                off.
                During their lunch break, the students hear some commotion
                coming from backstage. They walk in to investigate.
                A ball bounces onto the stage from nowhere and the team is
                on edge. They finish packing and grab their
                bags to leave but not before they notice a stranger standing
                with their back towards them. The man's head turns 180
                degrees, exposing a face resembling a puppet. Trying to
                escape the find doors locked and the man snatches away one
                of their peers, Jared. She girls escape and meet up with Mr
                de Villiers, their lecturer. They drag him away and
                explain.Mr de Villiers settles their fears and they go in
                for Jared; meeting closed stage curtains, they slowly open
                them up, and in front of their eyes sits Jared, dead, with a
                rope around his neck and the puppet doll on his thighs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="cast" class="contentContainer darker">
      <div class="content hide-on-init" style="background-color: rgba(0,0,0,0.2); color: black;" animateOnScroll animationName="animated slideInRight">
        <div style="height: 100%; width: 50%; position: absolute;">
          <div style="position: absolute; top: 0%;">
            <img style="margin-top: -3px;" src="https://img.icons8.com/dotty/80/000000/user-group-man-man.png" alt="user-group-man-man">
          </div>

          <div style="margin-left: 8vw;">
            <div>
              <h3 class="text-center" style="margin-top: 10vh;">
                <b>Ratings</b> 
              </h3>
            </div>
              
            <div style="margin-top: 10vh; margin-left: 2vw;">
              <p>
                <b>Runtime</b> – 8m34s <br>
                <b>Rating</b> – <!--&#11088 &#11088 &#11088 &#11088 &#11088--> <br>
                <b>Release Date</b> – 23 October 2019 <br>
                <b>Genre</b> – Horror/Suspense <br>
                <b>Studio</b> – Fire Breathing Rubber Duckies Productions <br>
              </p>
            </div>
          </div>
          
        </div>
        <div style="height: 100%; width: 50%; left: 50%; position: absolute;">
          <div style="margin-right: 8vw;">
            <div>
              <h3 class="text-center" style="margin-top: 10vh;">
                <b>Cast</b> 
              </h3>
            </div>
            
            <div style="margin-top: 10vh; margin-left: 2vw;">
              <p>
                <b>Stephen Palmer</b> – The Puppet <br>
                <b>Marcus Kane</b> – Jared <br>
                <b>Clarke Griffin</b> – Jess <br>
                <b>Madi Murphy</b> – Kate <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  <app-footer></app-footer>
</div>
