/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem; /*1 rem is 16 pixels or the size of 'html'*/
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  .container {
    max-width: 1100px; /*we want this to shrink depending on the width*/
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    padding-top: 5vh;
  }
  
  .profilePic {
    width: 100%;
  }
  
  .projectPic{
    width: 100%;
    height: 100%;
  }
  
  .oneColCard{
    position: relative;
    display: grid;
    grid-template-columns: 100%; /*two even columns; alt: repeat(2, 1fr)*/
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .links{
    position: absolute;
  }
  .linkImg{
    display: inline-block;
    margin: 5% 5% 5% 0;
    width: 25%;
  }
  
  .linkImg:hover{
    width: 26%;
    transition: width 0.5s;
  }
  
  .linkedIn{
    position: absolute;
    right: 40%;
  }
  .btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  /* .navbar.transparent.fixed-top {
    background: rgba(0,0,0,0);
  } */
  
  .fullscreen {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  
  .center {
    text-align: center;
  }
  
  
  .black {
    color: #000
  }
  
  .black-text {
      color: #000;
      filter: opacity(75%);
  }
  
  .color-fade-white .color-fade-icon-white {
    color: #ffffff;
    transition: 0.3s;
  }
  
  .color-fade-white:hover .color-fade-icon-white {
    color: #40E0D0;
  }
  
  
  .circle {
      background-color: #000000;
      width:48%;
      height: 100%;
      border-radius: 100%;
      position: relative;
      left: 20%;
  }
  
  .opa {
      opacity: 100%
  }
  
  .video{
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  .game{
    text-align: center;
  }